* {
  margin: 0;
  padding: 0;
}
.page {
  padding-bottom: 50px;
}
.blue {
  color: #2788f3;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.label-box {
  height: 16px;
  font-size: 12px;
  margin-bottom: 10px;
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    width: 3px;
    height: 100%;
    margin-right: 5px;
    vertical-align: -2px;
    background: #f56200;
  }

  .label {
    color: #1b1b1b;
    font-size: 14px;
    font-weight: 600;
  }
  
  .must::after{
    content: '*';
    color: #f56200;
    font-size: 14px;
    margin-left: 5px;
  }
  .sub {
    color: #939393;
  }
}
